{% extends "accounts/login.html" %}

{% block title %}Acesso de sistema | Lumini{% endblock %}
{% block login_pill %}Área restrita{% endblock %}
{% block login_hero %}Controle do<br><em>sistema.</em>{% endblock %}
{% block login_intro %}Acesso isolado para administração técnica da plataforma.{% endblock %}
{% block login_label %}ACESSO RESTRITO{% endblock %}
{% block login_heading %}Entrar como sysadmin{% endblock %}
{% block login_help %}Somente contas de sistema autorizadas.{% endblock %}
{% block login_footer %}{% endblock %}
